:root {
  --color-green: #3CB878;
}

body {
  background-image: url(../images/Фон\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400; 
  height: 100vh; 
  }

/* header */
header {
  padding: 0 79px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}

header:hover span,
header:hover a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.header-container {
  display: flex;
  min-height: 58px;
  justify-content: space-between;
  align-items: center;
}

header a {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}

.journey_link {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}

.nav-list {
  display: flex;
  align-items: center;
  font-size: 14px;
  column-gap: 26px;
}

.nav-list_item p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 4px;
}

.nav-list_item p::before {
  content:"";
  display: inline-block;
  width: 1px;
  height: 19px;
  margin-right: 23px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

a.journey_link:hover, 
a:hover span{
  color: var(--color-green);
  transition: 0.3s;
}

a:hover .nav-list_item_link_svg {
  fill:var(--color-green);
  transition: 0.3s;
} 


/* main */
.main-container {
  display: flex;
  height: 90vh;
}

.form {
  box-sizing: border-box;
  position: relative; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 30px 60px 38px;
  min-width: 444px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
}

.form-top {
  display: flex;
  justify-content: space-between;
  line-height: 14px;
}

.form-top h2 {
color: #434343;
font-size: 20px;
}

.form-top_link {
text-decoration: none;
color: var(--color-green);
font-size: 14px;
}

.form-top_link:hover {
  text-decoration: underline;
  color: #01813F;
  transition: 0.3s;
}

.form-top_modal {
  position: absolute;
  left:0;
  top: 29px;
  width: 18px;
  height: 18px;
  background-color: var(--color-green);
 }

.internet_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
 }

.internet_buttons_item {
  box-sizing: border-box;
  display: flex;
  min-width: 158px;
  min-height: 48px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
 }

.facebook {
  background-color: #305DB8;
  padding-left: 17px;
 }

.facebook p,
.google p{
  display: flex;
  align-items: center;
 }

.facebook p::before {
  content: "";
  display: inline-block;
  height: 28px;
  width: 1px;
  background-color: #0A162F;
  opacity: 0.1;
  margin: 0 18px;
 }

 .facebook:hover {
  background-color:rgba(2, 34, 99, 1);
  transition: 0.3s;
 }

.google {
  background-color: #DF4A32;
  padding-left: 12px;
 }

.google p::before {
  content: "";
  display: inline-block;
  height: 28px;
  width: 1px;
  background-color: #2B0D09;
  opacity: 0.1;
  margin-left: 7px;
  margin-right: 30px;
 }

 .google:hover {
  background-color:rgba(171, 31, 9, 1);
  transition: 0.3s;
 }

 .internet_buttons_item:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
 }

.divider {
  margin-top: 30px;
  position:relative;
  text-align: center;
  line-height: 14px;
 }

 .divider_text {
  color: #848484;
  font-size: 14px; 
 }

.divider_text::before {
  content: "";
  display: inline-block;
  width: 152px;
  height: 1px;
  background-color: #F2F2F2;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
 }

 .divider_text::after {
  content: "";
  display: inline-block;
  width: 152px;
  height: 1px;
  background-color: #F2F2F2;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0;
 }

 .inputs {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 12px;
 }
 
 .inputs_item {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 45px;
  color: #434343;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  padding-left: 19px;
  padding-top: 15px;
  padding-bottom: 15px;  
 }

 .inputs_item:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
  outline-style: none;
  border-color: transparent;
 }

  input::placeholder {
  display: inline;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #BEBEBE;
}

.inputs_checkbox {
  color:#434343;
  font-size: 14px;
  cursor: pointer;
}

.inputs_checkbox_item{
box-sizing: border-box;
width: 20px;
height: 20px;
line-height: 20px;
vertical-align: sub;
border-color: #F2F2F2;
outline-style: none;
margin-top: 0;
margin-bottom: 0;
margin-right: 8px;
}

.inputs_checkbox_link{
  text-decoration: none;
  color: var(--color-green);
}

.inputs_checkbox:hover .inputs_checkbox_link,
.inputs_checkbox_link:hover span {
  color:#01813F;
  text-decoration: underline;
  transition: 0.3s;
}

.inputs_button {
  background-color: var(--color-green);
  opacity: 0.8;
  color: rgba(255, 255, 255, 1);
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  height: 46px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.inputs_button:hover {
  background: #01813F;
  transition: 0.3s;
}

.inputs_button:focus {
  outline-style: none;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 21%);
}

